<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806191194387-t6n14c1j9f4fvpripku2sqldaphq154f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806191194387-t6n14c1j9f4fvpripku2sqldaphq154f</string>
	<key>API_KEY</key>
	<string>AIzaSyC02mhgc2asuf7wcPHVMmfCFpRNIxFcqkw</string>
	<key>GCM_SENDER_ID</key>
	<string>806191194387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mickaelToDo</string>
	<key>PROJECT_ID</key>
	<string>mickaelpottodoflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>mickaelpottodoflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806191194387:ios:fe37546551f69d8643fae6</string>
</dict>
</plist>